#calc-div {
	box-shadow: 30px 30px 25px #888888;
	width:825px;
	height:1350px;
	margin:5% auto;
}	
#calc-title {
	font-size:7em;
	color:#FFFFFF;
	font-family: 'Acme', sans-serif;
}
#calc-input {
	height:200px;
	width:790px;
	margin-bottom:35px;
}
.button-row {
	/*outline-style:none;*/
	font-size:5em;
	height:150px;
	width:185px;
	margin:5px 5px;
}
#zero {
	width:385px;
}
#initial, #currentChain {
	line-height:95px;
	padding:8px;
	font-size:7em;
}
#currentChain {
	font-size:4.5em;
}